<div ng-controller="ctrlEspecialidades">
	<div class="fixed-action-btn flotar-alto">
		<a href="#/especialidades/nuevo" class="btn-floating btn-large waves-effect waves-light" tooltipped data-position="right" data-delay="500" data-tooltip="Añadir nuevo"><i class="material-icons">add</i></a>
	</div>
	<div class="card-panel" ng-init="cargarEspecialidadesE();">
		<div ng-if="listo">
			<div class="center-align">
                <h5 class="tituloSec">Lista de especialidades</h5>
            </div>
			<div class="row">
				<div class="card-panel cp-medicos col s12 m5 offset-m1 hoverable grey lighten-4 elemento" ng-repeat="especialidad in especialidades | filter:$root.busqueda" ng-click="cargarModificarE(especialidad.id);">
					<div class="col s3 m3 l3">
						<img ng-src="{{wss}}/{{especialidad.urlImagen}}" alt="" class="circle responsive-img avatar-img">
					</div>
					<div class="col s7 m7 l7">
						<span class="title truncate"><b>{{especialidad.nombre}}</b></span>
					</div>
					<div class="col s1 m1">
						<a href=""  href='#modalEliminar' complete="completeCallback" ng-click="modalEliminar(especialidad.id); $event.stopPropagation(); " class="alinear alto"><i class="material-icons md-gray md-36">delete</i></a>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="!listo" ng-include="'vistas/espera.html'"></div>
	</div>
	<!-- Modal Structure -->
	<div id="modalEliminar" class="modal">
		<div class="modal-content">
			<h5 class="center-align" >¿Desea eliminar la especialidad?</h5>
			<p class="contenido-modal">¡Se eliminará de manera definitiva!</p>
		</div>
		<div class="modal-footer">
			<a href="" ng-click="idEliminar = null;" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
			<a href="" ng-click="eliminarE();" class="modal-action modal-close waves-effect btn-flat">Eliminar</a>
		</div>
	</div>
</div>