<div ng-controller="ctrlSesion">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div id="encSesion" class="z-depth-2">
				<div class="center-align logo">
					<h5 class="white-text">INGRESO</h5>
				</div>
			</div>
			<div class="card">
				<div class="progress">
					<div ng-if="iniciando" class="indeterminate"></div>
				</div>
				<div class="container">
					<form id="formulario-sesion">
						<br>
						<div class="col s12">
							<div class="input-field">
								<i class="material-icons md-gray prefix">account_circle</i>
								<input id="cedula" type="text" ng-model="sesion.nombreUsuario" required>
								<label for="cedula">Nombre Usuario</label>
							</div>
						</div>
						<div class="col s12">
							<div class="input-field">
								<i class="material-icons md-gray prefix">https</i>
								<input id="password" type="password" ng-model="sesion.contrasena" required>
								<label for="password">Contrase&ntilde;a</label>
							</div>
						</div>
						<br>
						<div class="center-align">
							<span class="estado-sesion">{{estado}}</span>
						</div>
						<div class="center-align">
							<button type="submit" id="login-btn" class="btn btn-primary btn-sesion" ng-click="iniciarSesion()">INGRESAR</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>