<div class="row" ng-controller="citaCtrl">
	<div ng-if="!citaRealizada">
		<form ng-init="cargarOcupado(); medicoSel = null; cargarEspecialdades();">
			<div class="container">
				<div class="card-panel">
					<div class="container">
						<div class="center-align">
							<h5 class="tituloSec">Solicitud de citas</h5>
						</div>
						<div class="row no-bottom">
							<div class="input-field col s12 m6 l5">
								<select ng-model="solicitud.especialidadSel" data-ng-options="especialidad as especialidad.nombre for especialidad in especialidades" material-select watch ng-change="cargarMedicos()">
								</select>
								<label class="lbl-sel">Especialidad:</label>
							</div>
							<div class="input-field col s12 m6 l5">
								<select ng-model="solicitud.medicoSel" data-ng-options="medico as medico.nombre+' '+medico.apellidos for medico in medicos" material-select watch>
								</select>
								<label class="lbl-sel">Médico:</label>
							</div>
						</div>
						<div class="row no-bottom">
							<div class="input-field col s12 m4 l4">
								<input id="cedula" type="number" min="100000000" class="validate" ng-model="solicitud.usuario.cedula" ng-change="cargarUsuario()">
								<label for="cedula" data-error="Cantidad de dígitos errónea" data-success="Correcto">Cedula</label>
							</div>
							<div class="input-field col s12 m4 l4">
								<input id="nombre" type="text" class="validate" ng-model="solicitud.usuario.nombre">
								<label for="nombre">Nombre</label>
							</div>
							<div class="input-field col s12 m4 l4">
								<input id="apellidos" type="text" class="validate" ng-model="solicitud.usuario.apellidos">
								<label for="apellidos">Apellidos</label>
							</div>
						</div>
						<div class="row  no-bottom">
							<div class="input-field col s12 m4 l4">
								<input placeholder="8888-8888" id="telefono" type="number" min="10000000" max="99999999" class="validate" ng-model="solicitud.usuario.telefono">
								<label for="telefono" >Telefono</label>
							</div>
							<div class="input-field col s12 m4 l4">
								<input id="correo" type="email" class="validate" ng-model="solicitud.usuario.correo">
								<label for="correo" data-error="Formato incorrecto" data-success="Correcto">Correo</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m7 l8">
								<textarea id="motivo" type="text" class="materialize-textarea" ng-model="solicitud.descripcion"></textarea>
								<label for="motivo">Motivo de la cita</label>
							</div>
						</div>
						<div id="el" class="row">
							<calendar id="calendario" calendar-mode="'week'" event-source="ocupado" time-selected="onTimeSelected(selectedTime)">
						</div>
						<div class="row">
							<div class="center">
								<a class="waves-effect waves-light btn" tooltipped  data-position="top" data-delay="500" data-tooltip="Realizar la solicitud de la cita médica" ng-click="solicitarCita()" >Solicitar cita</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div ng-if="citaRealizada">
		<div class="container">
			<div class="card-panel">
				<div class="center">Su cita ha sido tramitada, espere una confirmación por correo</div>
			</div>
		</div>
	</div>
</div>