<div ng-controller="ctrlUsuarios">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div id="encSesion" class="z-depth-2">
				<div class="center-align logo">
					<h5 class="light-blue-text">Registrar</h5>
				</div>
			</div>
			<div class="card">
				<div class="progress">
					<div ng-if="iniciando" class="indeterminate"></div>
				</div>
				<div class="container">
					
					<form id="formulario-sesion">
					
						<br>
						<div class="col s12">
							<div class="input-field">
								
								<input id="nombre" type="text" ng-model="insertarU.nombre" required>
								<label for="nombre">Nombre</label>
							</div>
						</div>
						<div class="col s12">
							<div class="input-field">
								
								<input id="apellidos" type="text" ng-model="insertarU.apellidos" required>
								<label for="apellidos">Apellidos</label>
							</div>
						</div>
						
						<div class="col s12">
							<div class="input-field">
								
								<input id="cedula" type="text" ng-model="insertarU.nombreUsuario" required>
								<label for="cedula">Nombre Usuario</label>
							</div>
						</div>
						<div class="col s12">
							<div class="input-field">
								
								<input id="password" type="password" ng-model="insertarU.contrasena" required>
								<label for="password">Contrase&ntilde;a</label>
							</div>
						</div>
						<div class="col s12">
							<div class="input-field">
								
								<input placeholder="usuario@correo.com" id="email" type="email" ng-model="insertarU.email" required class="validate">
								<label for="email"></label>
							</div>
						</div>
						
						<br>
						
						<div class="center-align">
							<button type="submit" id="login-btn" class="btn btn-primary btn-sesion" ng-click="registrar()">Registrar</button>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>