body,html { 
	background: #555;
	text-align: center;
 }

div.waitingApp,div#loadingAnim{position:absolute;top:0;right:0;left:0;bottom:0;}
div.waitingApp{background:rgba(0,0,0,0.9);}
div#loadingAnim{margin-top:10%;}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
ul { list-style: none; }

.stretch { display: inline-block; }

#main-bar {
	height: auto;
 	background: #03a9f4;
 	color: #fff;
 	padding: 10px;
 	margin-top: 8px;
 	margin-bottom: -3px;
}
.main.card { margin-top:20px; padding-bottom: 30px; background-color: #f5f5f5; }
/* title for a section */
h2.sectionTitle { font-size: 12pt; font-weight: bold; padding: 2px; display: inline-block; border-bottom: 3px solid #50718e; }


form#login-form { max-width: 320px; margin: 0 auto; padding: 35px 20px; background: transparent !important; }
#login-btn { width: 100%; }

ul.listItems { text-align: left; padding-left: 0; }
ul.listItems li { margin-top: 10px; font-size: 12pt; vertical-align: middle; }
ul.listItems div.actions { text-align: right; float: right; margin-left: 15px; }
ul.listItems li .material-icons { float: left; font-size: 15pt; margin-right: 5px; }

/********************* SECTION > TOPBAR ************************/
#section-topbar {
	display: inline-block;
	width: 100%;
	padding: 8px;
	box-shadow: 0 1px 3px rgb(162, 162, 162);
}
#section-topbar.acta {
	background-color: #c8e6c9;
}
#section-topbar.noacta {
	background-color: #ef9a9a;
}
#section-topbar label, .cerrarActa {
	color: #555;
	font-weight: bold;
}

/***************** CARDS FOR MAIN PANEL ************************/
.menu-card {
}

/* AGENDA */
.agenda textarea, .agenda p {
	max-height:  250px;
	overflow-y: auto;
}

.nav-link { display: inline-block; }
.nav-link a i { font-size: 14pt; float: left; }

/* chips for actions*/
.chip-green { background: #50b378; }
.chip-orange { background: #ff8b5e; }

.users-name { font-weight: 600; font-size: 12pt; }

ul#userList {  }
ul#userList li { font-size: 12pt; margin-bottom: 10px; }
ul#userList span a { color: #fff;  }