<div class="info-usuario  cyan darken-1"  ng-controller="ctrlSesion">
	<div class="row">
		<div class="col s4 offset-s1">
			
		</div>
		<div class="col s12">
			<a class='dropdown-button white-text perfil waves-effect' href='javascript:void(0);' data-activates='perfil-drop' alignment="right" data-beloworigin="true" dropdown>{{usuario.nombre}} {{usuario.apellidos}}<i class="material-icons right">expand_more</i>
			</a>
			
			<ul id='perfil-drop' class='dropdown-content'>
				
				<li><a href="" ng-click="cerrarSesion()"><i class="material-icons">exit_to_app</i>Salir</a></li>
			</ul>
		</div>
	</div>
</div>
<ul class="opciones">
	<div ng-if="0==0" ng-include="'vistas/incrustado/barra.secretaria.html'"></div>
	
</ul>