<div ng-controller="ctrlUsuarios">
    <div class="card-panel hoverable">
        <form>
            <div class="center-align titulo">
                <h5 class="tituloSec">Modificar usuario</h5>
            </div>
            <div class="row">
                <div input-field class="col s12 m4">
                    <input ng-model="actualizarU.nombre" id="nombre" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                </div>
                <div input-field class="col s12 m4">
                    <input ng-model="actualizarU.apellidos" id="apellidos" type="text" class="validate">
                    <label for="apellidos">Apellidos</label>
                </div>                
                
            </div>
            <div class="row">
            
            <div input-field class="col s12 m4">
                    <input  id="nombreUsuario"  ng-model="actualizarU.nombreUsuario" type="text" class="validate">
                    <label for="nombreUsuario">Nombre Usuario</label>
                </div>
                
                
                <div input-field class="col s12 m4">
                    <input ng-model="actualizarU.contrasena" id="contrasena" type="password" class="validate">
                    <label for="contrasena">Nueva contraseña</label>
                </div>
                
                
            </div>
            <div class="row no-bottom">
            	<div input-field class="col s12 m4">
                    <input placeholder="usuario@correo.com" ng-model="actualizarU.email" type="email" id="correo" type="text" class="validate">
                    <label for="correo"  data-error="Formato incorrecto" >Correo</label>
            	</div>
                
                <div class="input-field col s12 m3">
                    <select class="" id="selActivo" ng-model="actualizarU.activo" material-select>
                        <option value="true" >Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                    <label for="selActivo">Estado:</label>
                </div>
                
                
            </div>
            
            <div class="row no-bottom">
                <div class="center">
                    <a class="waves-effect waves-light btn" ng-click="modificar();" >Guardar cambios</a>
                </div>
            </div>
        </form>
    </div>
</div>