<!DOCTYPE html>
<html ng-app="concepcion">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">
		<title ng-bind="'Admin | '+$root.tituloPag"></title>
		<link rel="icon" type="image/png" href="img/icono.png">
		<link rel="stylesheet" href="css/style.min.css">
		<!-- <link rel="stylesheet"href="css/mainStyle.css"> -->
		<!-- <link rel="stylesheet"href="css/spinner.css"> -->
		<!-- Librerías -->
		<script src="js/libs/jquery.min.js"></script>
		<script src="js/libs/angular.min.js"></script>
		<script src="js/libs/angular-route.min.js"></script>
		<script src="js/libs/ng-role-auth.min.js"></script>
		<script src="js/libs/angular-base64-upload.min.js"></script>
		<script src="js/libs/ngStorage.min.js"></script>
		<script src="js/libs/materialize.min.js"></script>
		<script src="js/libs/angular-materialize.min.js"></script>
		<script src="js/libs/angular-file.min.js"></script>
		<!-- Modulo principal y rutas -->
		<script src="js/principal.js"></script>
		<script src="js/rutas.js"></script>
		<!-- Servicios -->
		<script src="js/servicios/sesion.js"></script>
		<script src="js/servicios/conexion.js"></script>
		<!-- Controladores -->
		<script src="js/controladores/especialidades.js"></script>
		<script src="js/controladores/sesion.js"></script>
		<script src="js/controladores/usuarios.js"></script>		
		<script src="js/controladores/clientes.js"></script>
		<script src="js/controladores/servicio.js"></script>
		<script src="js/controladores/articulo.js"></script>
		<script src="js/controladores/cita.js"></script>
		
	</head>
	<body>
		<div ng-if="$root.autenticado" class="body">
			<div class="navbar-fixed">
				<nav>
					<a class="hide-on-large-only waves-effect left button-collapse" data-activates="menu-movil" ><i class="material-icons">menu</i></a>
					<div class="nav-wrapper">
						<!--<div class="nav-wrapper input-field">
							 <input id="search" type="search"  ng-model="$root.busqueda" required>		
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons" ng-click="$root.busqueda = '';">close</i>
						</div> -->
					</div>
				</nav>
			</div>
			<div id="menu-movil" class="side-nav fixed">
				<div ng-include="'vistas/incrustado/barra.lateral.html'"></div>
			</div>
			<main>
			<div id="principal" ng-view></div>
			</main>
		<footer class="page-footer" ng-include="'vistas/incrustado/footer.html'" scope="" onload=""></footer>
	</div>
	<div ng-if="!$root.autenticado">
		<div class="container">
			<div>
				<div ng-include="'vistas/ingresar.html'"></div>
			</div>
		</div>
	</div>
</body>
</html>